
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12 m6">
        <div class="card light-blue darken-1">
            <div class="card-content white-text">
                <span class="card-title">Cadastrar Empréstimo</span>
                <p>
                    Cadastrar um novo Empréstimo
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Cadastrar", "Create")
            </div>
        </div>
    </div>
    <!--Listar Categorias-->
    <div class="col s12 m6">
        <div class="card light-blue darken-1">
            <div class="card-content white-text">
                <span class="card-title">Listar Empréstimos</span>
                <p>
                    Visualize todos os empréstimos.
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Listar", "Details")
            </div>
        </div>
    </div>


</div>

