

@{
    ViewBag.Title = "Lista Livros";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12 m6">
        <div class="card light-blue darken-1">
            <div class="card-content white-text">
                <span class="card-title">Cadastrar Livro</span>
                <p>
                    Cadastrar um novo livro
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Cadastrar", "Create")
            </div>
        </div>
    </div>
    <!--Listar Livros-->
    <div class="col s12 m6">
        <div class="card light-blue darken-1">
            <div class="card-content white-text">
                <span class="card-title">Listar Livros</span>
                <p>
                    Visualize todos os livros cadastrados.
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Listar", "Details")
            </div>
        </div>
    </div>



</div>
